@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;

}
body {
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    list-style: none;
}


img {
  width: 300px;
}

nav {
    box-shadow: 1px 2px 5px #ebebeb;
    
}



